* {
  margin: 0;
  padding: 0;
}
.bots__main {
  box-sizing: border-box;
  padding: 0 50px;
  width: 75%;
  margin: 0 auto;
  margin-top: 26px;
}

.bots__title {
  font-family: "lota_bold";
  font-weight: 700;
  font-size: 29.4145px;
  color: #ffffff;
}
.bots__map {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 850px;
  gap: 7px;
  margin-top: 24px;
  overflow-y: auto;
}
.bots__map::-webkit-scrollbar {
  width: 4px;
}
.bots__map::-webkit-scrollbar-track {
  background: #28264c;
  border-radius: 2px;
}
.bots__map::-webkit-scrollbar-thumb {
  background: #6863c9;
  border-radius: 2px;
}
.bots__map__item {
  width: calc(100% - 15px);
  height: 50px;
  background: #28264c;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18.5px;
  box-sizing: border-box;
}
.bots__map__item__title {
  font-family: "lota_bold";
  font-size: 10.8713px;
  color: #ffffff;
}
.bots__map__item__title__link {
  display: flex;
  align-items: center;
  font-family: "lota__300";
  font-size: 10.8713px;
  color: #ffffff;
  background: #17162f;
  border-radius: 6px;
  width: 273px;
  height: 29px;
  box-sizing: border-box;
  padding-left: 13px;
}
.bots__map__item__save {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 19px;
  background: #51bbae;
  border-radius: 0.867px;
  font-size: 7.803px;
  font-weight: 900;
  font-family: "lota_bold";
  color: #ffffff;
}
.bots__map__item__save span {
  margin-top: 3px;
}
.bots__map__item__line {
  width: 2px;
  height: 36px;
  background: #5b5983;
  border-radius: 1px;
}
.bots__map__item__name {
  font-size: 10.8713px;
  width: 63.29px;
  height: 10.65px;
  font-family: "lota_bold";
  color: #ffffff;
}
.bots__map__item__subscribe {
  font-size: 11px;
  line-height: 14px;
  width: 146px;
  font-family: "lota_300";
  height: 11px;
  color: #ffffff;
}
.bots__map__item__buttons {
  display: flex;
  gap: 12px;
}
@media (max-width: 1280px) {
  .bots__main {
    width: initial;
  }
  .bots__map__item {
    margin-right: 10px;
    width: 830px;
    padding: 0 10px;
  }
  .bots__map {
    width: initial;
  }
}
